<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div>
        <header>
        </header>
        <main class = "container">
		<br/>
			<div>
				<h3>USER INFORMATION</h3>
				<br/>
				<ul class="list-group">
					<li>First Name :  <%= FirstName %> </li>
					<li>Last Name :  <%= LastName %> </li>
					<li>Hobby :  <%= Hobby %></li>
					<li>Pet Name :  <%= PetName %></li>
				</ul>
				
			</div>
        </main>
    </div>

    <% include ../partials/scripts %>
</body>

</html>